<a href="https://colab.research.google.com/github/BAravind-5/Task_4/blob/main/Task_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder, StandardScaler

In [3]:
df = pd.read_csv("/content/products_missing_demo (1).csv")
df.head()

,Product_ID,Product_Name,Category,Subcategory,Price,Units_Sold,Revenue,Trend_Score
0,P101,Smart Watch,Electronics,Wearables,2999.0,1200.0,3598800.0,8.5
1,P102,Wireless Earbuds,Electronics,Audio,NaN,1500.0,2250000.0,9.1
2,P103,Office Chair,Furniture,Seating,5499.0,NaN,2749500.0,7.8
3,P104,Running Shoes,Fashion,Footwear,3999.0,800.0,3199200.0,NaN
4,P105,LED Desk Lamp,Furniture,Lighting,1499.0,600.0,NaN,6.9

In [4]:
categorical_cols = df.select_dtypes(include='object').columns
numerical_cols = df.select_dtypes(include=['int64', 'float64']).columns

categorical_cols, numerical_cols

(Index(['Product_ID', 'Product_Name', 'Category', 'Subcategory'], dtype='object'),
 Index(['Price', 'Units_Sold', 'Revenue', 'Trend_Score'], dtype='object'))

Categorical Features: Product_Name, Category, Subcategory
Numerical Features: Price, Units_Sold, Revenue, Trend_Score

In [5]:
le = LabelEncoder()
df['Category_Label'] = le.fit_transform(df['Category'])
df[['Category', 'Category_Label']].head()

      Category  Category_Label
0  Electronics               0
1  Electronics               0
2    Furniture               3
3      Fashion               1
4    Furniture               3

Label Encoding is applied when categories have an implicit order
or when converting categories into numeric form for tree-based models.

In [7]:
df_encoded = pd.get_dummies(
    df,
    columns=['Category', 'Subcategory'],
    drop_first=True
)

df_encoded.head()

,Product_ID,Product_Name,Price,Units_Sold,Revenue,Trend_Score,Category_Label,Category_Fashion,Category_Fitness,Category_Furniture,Category_Home Appliances,Category_Stationery,Subcategory_Audio,Subcategory_Clothing,Subcategory_Footwear,Subcategory_Kitchen,Subcategory_Lighting,Subcategory_Seating,Subcategory_Wearables
0,P101,Smart Watch,2999.0,1200.0,3598800.0,8.5,0,False,False,False,False,False,False,False,False,False,False,False,True
1,P102,Wireless Earbuds,NaN,1500.0,2250000.0,9.1,0,False,False,False,False,False,True,False,False,False,False,False,False
2,P103,Office Chair,5499.0,NaN,2749500.0,7.8,3,False,False,True,False,False,False,False,False,False,False,True,False
3,P104,Running Shoes,3999.0,800.0,3199200.0,NaN,1,True,False,False,False,False,False,False,True,False,False,False,False
4,P105,LED Desk Lamp,1499.0,600.0,NaN,6.9,3,False,False,True,False,False,False,False,False,False,True,False,False

One-Hot Encoding is used for nominal categorical features where
no natural order exists, preventing misleading ordinal relationships.

In [8]:
scaler = StandardScaler()

num_cols = ['Price', 'Units_Sold', 'Revenue', 'Trend_Score']
df_encoded[num_cols] = scaler.fit_transform(df_encoded[num_cols])

df_encoded[num_cols].head()

      Price  Units_Sold   Revenue  Trend_Score
0  0.361678   -0.442930  1.644454     0.850532
1       NaN   -0.217286  0.093462     1.525954
2  1.900731         NaN  0.667840     0.062539
3  0.977299   -0.743787  1.184952          NaN
4 -0.561755   -0.894216       NaN    -0.950594

In [9]:
df[num_cols].describe()

             Price   Units_Sold       Revenue  Trend_Score
count     8.000000     9.000000  9.000000e+00     9.000000
mean   2411.500000  1788.888889  2.168722e+06     7.744444
std    1736.529791  1410.181233  9.223891e+05     0.942220
min     199.000000   600.000000  9.000000e+05     6.200000
25%    1324.000000   900.000000  1.598000e+06     7.000000
50%    2149.000000  1200.000000  2.249100e+06     7.800000
75%    3249.000000  2000.000000  2.749500e+06     8.500000
max    5499.000000  5000.000000  3.598800e+06     9.100000

In [10]:
df_encoded[num_cols].describe()

              Price    Units_Sold       Revenue   Trend_Score
count  8.000000e+00  9.000000e+00  9.000000e+00  9.000000e+00
mean  -3.469447e-17  1.233581e-17  1.727014e-16 -7.401487e-17
std    1.069045e+00  1.060660e+00  1.060660e+00  1.060660e+00
min   -1.362062e+00 -8.942163e-01 -1.458911e+00 -1.738587e+00
25%   -6.694883e-01 -6.685730e-01 -6.562766e-01 -8.380239e-01
50%   -1.616006e-01 -4.429296e-01  9.242684e-02  6.253910e-02
75%    5.155830e-01  1.587861e-01  6.678395e-01  8.505317e-01
max    1.900731e+00  2.415220e+00  1.644454e+00  1.525954e+00

Before scaling, numerical features had different ranges.
After scaling, features have mean  0 and standard deviation  1,
making the dataset suitable for distance-based algorithms.

Model Readiness:
- All categorical variables are encoded.
- Numerical features are scaled.
- Dataset is now suitable for algorithms such as
  Linear Regression, Logistic Regression, KNN, and SVM.

In [11]:
df_encoded.to_csv("processed_dataset_task4.csv", index=False)

In [12]:
!ls -F

 processed_dataset_task4.csv  'products_missing_demo (1).csv'   sample_data/